/* https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

body {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #1d3557;
  color: #f1faee;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

ol {
  font-size: 15px;
  line-height: 24px;
}

textarea {
  resize: none;
  height: 20vh;
  border-radius: 10px;
  border: none;
  padding: 5px;
  align-self: stretch;
}

button {
  all: unset;
  cursor: pointer;
  align-self: center;
  background-color: #f1faee;
  color: #1d3557;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 3px;
  margin: 30px;
}

/* Options dropdown settings */
h2 {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  cursor: pointer;
  margin: 0;
}

.options-dropdown {
  perspective: 900;
  padding: 0;
  margin: 0;
  align-self: stretch;
}

.options-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  animation: flipdown 0.5s ease;
}

.options-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.options-header svg {
  margin-left: 5px;
  padding-top: 5px;
  transform-origin: center center;
  transition: all 0.25s ease-in-out;
}

.accordion-checkbox {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 24px;
  margin: 0;
  z-index: 1;
  opacity: 0;
}

.accordion-checkbox:checked~.options-header>svg {
  transform: rotate(-90deg);
}

.accordion-checkbox:checked~.options{
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate( 0 , 50% );
}

.options {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transform: translate(0,0);
  z-index: 2;
  transition: all 0.25s ease-in-out;
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {opacity: 1}
  80% {transform: rotateX(8deg);}
  83% {transform: rotateX(6deg);}
  92% {transform: rotateX(-3deg);}
  100% {
    transform-origin: top center;
    transform: rotateX(0);
  }
}